.home {
  display: flex;
}
.home .left h1 {
  font-size: 190px;
  font-weight: 700;
  font-family: "Markazi Text", serif;
  margin: 0;
}
.home .left h6 {
  font-family: Montserrat;
  font-size: 36px;
  font-weight: 300;
  line-height: 44px;
  letter-spacing: 0.965em;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  margin-top: -30px;
}
.home .left p {
  width: 556px;
  margin-top: 50px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26.82px;
}
.home .left .register-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #000000;
  font-style: italic;
}
.home .left .register-link span {
  display: flex;
  align-items: center;
  margin-left: 10px;
  border: 1px solid #000000;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
.home .left .social {
  margin-top: 100px;
  display: flex;
  gap: 20px;
}
.home .left .social a {
  color: #ffffff;
  background-color: #000000;
  padding: 5px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.home .right {
  padding-left: 150px;
}
